mixin footer()
    div.footer-links.pure-g-r
        div.footer-link.pure-u-1-8
            a.icon-link(href='/')
                h4 &nbsp;
                img(src="/svg/115_b.svg")
                h4 HOME
        div.footer-link.pure-u-1-8
            a.icon-link(href='/timeline/')
                h4 &nbsp;
                img(src="/svg/109_b.svg")
                h4 TIMELINE
        div.footer-link.pure-u-1-8
            a.icon-link(href='/about/')
                h4 &nbsp;
                img(src="/svg/89_b.svg")
                h4 ABOUT
        div.footer-link.pure-u-1-8
            a.icon-link(href='/contact/')
                h4 &nbsp;
                img(src="/svg/99_b.svg")
                h4 CONTACT
        div.footer-link.pure-u-1-8
            a.icon-link(href='https://plus.google.com/103966119359439831864')
                h4 &nbsp;
                img(src="/svg/google-plus.svg")
                h4 me on G+
        div.footer-link.pure-u-1-8
            a.icon-link(href='http://www.twitter.com/ndkamp')
                h4 &nbsp;
                img(src="/svg/twitter.svg")
                h4 nest
        div.footer-link.pure-u-1-8
            a.icon-link(href='http://www.cityclash.org')
                h4 &nbsp;
                img(src="/img/cityclash-48-48.png")
                h4 Owner/Creator
        div.footer-link.pure-u-1-8
            a.icon-link(href='http://www.cocomoshi.ch')
                h4 &nbsp;
                img(src="/img/cocomoshi-48-48.png")
                h4 Owner/Creator
