mixin paging()
    nav.paging.pure-g-r
        if prevPage
            a.pure-u-1-2(href=prevPage.url)
                div.icon-link.newer.left
                    span.text.text-right Newer posts
                    img.icon.icon-left(src="/svg/53_b.svg")
        else
            span.pure-u-1-2.left
        //
            a.pure-u-1-3.center(href='/timeline/')
            div.icon-link.archive.center
                span.text.text-right Archives
                img.icon.icon-left(src="/svg/90_b.svg")
        if nextPage
            a.pure-u-1-2(href=nextPage.url)
                div.icon-link.older.right
                    span.text.text-left Older posts
                    img.icon.icon-right(src="/svg/54_b.svg")
        else
            span.pure-u-1-2.right

        //
         a.icon-link.back
            img.icon(src="/svg/53_b.svg")
            div.text TO FULL BLOG