mixin postNavigation(prevLabel, prevUrl, nextLabel, nextUrl)
    nav.paging.pure-g-r
        if prevUrl
            a.pure-u-1-2(href=prevUrl)
                div.icon-link.newer.left
                    span.text.text-right #{prevLabel}
                    img.icon.icon-left(src="/svg/53_b.svg")
        else
            span.pure-u-1-2.left
        if nextLabel
            a.pure-u-1-2(href=nextUrl)
                div.icon-link.older.right
                    span.text.text-left #{nextLabel}
                    img.icon.icon-right(src="/svg/54_b.svg")
        else
            span.pure-u-1-2.right
