/**
* Global styles
*/
html, body {
  margin: 0;
  width: 100%;
  height: 100%; }

html {
  font-size: 100%;
  width: 100%; }

body {
  background-color: #f4f4f4; }

.container {
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 760px; }
  .container.detail-page {
    max-width: 100%; }
    .container.detail-page article section {
      border: none; }

a {
  text-decoration: none;
  color: #ed6d43; }
  a:hover {
    color: #ef7f5a;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #339d8b;
  text-shadow: 0px 1px 1px rgba(51, 51, 51, 0.25); }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #339d8b; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #7bd4c5; }

h3 {
  font-size: 1.5rem; }

h4, h5, h6 {
  text-shadow: none;
  color: #333333; }

p {
  font-family: 'Open Sans', sans-serif; }

/*
 * Global secondary (nested) elements
 * secondary elements occur on several place across the entire site
 * and are usually nested within primary elemnts (article, header, section, footer)
 */
.date {
  margin: 1rem auto 0;
  padding: 0;
  text-align: center;
  color: #333333;
  font-size: 1rem;
  line-height: 2rem; }

.tags {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #333333;
  margin: 0.75rem 0; }

.more {
  display: block;
  margin-top: 2rem; }
  .more a {
    color: #f4f4f4;
    background-color: #333333; }
    .more a:hover {
      background-color: #595959; }

/**
 * Header with photo, site title tagline
 */
.header {
  margin: 4rem auto 2rem;
  width: 510px;
  height: 150px;
  box-sizing: border-box; }
  .header .image {
    float: left;
    padding-right: 2rem; }
  .header .photo {
    height: 130px;
    width: 130px;
    -webkit-border-radius: 65px 65px;
    -moz-border-radius: 65px 65px;
    -ms-border-radius: 65px 65px;
    -o-border-radius: 65px 65px;
    border-radius: 65px 65px;
    background: transparent url("../img/andy.jpg") no-repeat center center;
    -webkit-box-shadow: 0px 0px 130px black inset;
    -moz-box-shadow: 0px 0px 130px black inset;
    box-shadow: 0px 0px 130px black inset;
    border: 1px solid #e7e7e7; }
  .header .signature {
    margin: 0rem auto 1rem; }
    .header .signature h3, .header .signature p {
      padding: 0;
      margin: 0; }
    .header .signature h3 {
      text-shadow: 0 1px 0px white;
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0;
      margin: 0; }
      .header .signature h3 a {
        color: #143d36; }
    .header .signature p {
      color: black;
      font-size: 1.25rem;
      line-height: 2rem; }

nav.main-navi {
  height: 3rem; }
  nav.main-navi .navi-toggle {
    display: none; }
  nav.main-navi ul.nav-items {
    float: right; }
    nav.main-navi ul.nav-items li.nav-item {
      list-style-type: none;
      display: inline-block;
      margin-left: 0.5rem; }
      nav.main-navi ul.nav-items li.nav-item.active a {
        color: #f4f4f4;
        background-color: #333333;
        border-color: #333333; }

.detail-nav {
  padding: 0.5rem;
  background-color: #e7e7e7; }

.content {
  clear: both; }
  .content pre {
    overflow-x: scroll;
    white-space: pre;
    word-wrap: normal;
    background-color: #272822; }

article {
  margin: 3rem 0; }
  article header {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    background-color: #f4f4f4;
    padding: 1rem;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    opacity: 1; }
  article h1 {
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0.35rem 0; }
  article section {
    box-sizing: border-box;
    background-color: #f4f4f4;
    padding: 2rem 3rem;
    border: 1px solid #e7e7e7;
    border-top: none; }
    article section.about {
      border-top: 1px solid #e7e7e7; }
    article section.flash {
      width: 980px;
      margin: 0 auto;
      background-color: transparent;
      padding: 0; }
      article section.flash .flash-detail-wrapper {
        margin: 0 auto; }
      article section.flash p {
        text-align: center; }
    article section p {
      margin: 1rem 0;
      line-height: 1.75rem; }
    article section pre code {
      font-size: 0.8rem; }
  article img {
    margin: 1rem 0; }
  article .further-readings h3 {
    letter-spacing: .25rem;
    padding: 1rem;
    margin: 0rem auto 0rem;
    text-align: center;
    text-shadow: none;
    background-color: #f4f4f4; }
  article .further-readings h4 {
    width: 95%; }
  article .further-readings a {
    color: #333333; }
    article .further-readings a:hover {
      color: #ed6d43; }
  article .further-readings p {
    padding-right: 1rem; }

.clipped {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

/*
 * Footer
 */
footer {
  margin: 3em 0;
  border-top: 1px solid #e7e7e7; }
  footer .footer-links {
    margin: 2rem 0; }

.about-links {
  height: 80px; }

.ah-icon-link {
  display: block;
  cursor: pointer;
  opacity: 0.25;
  width: 5rem;
  height: 8rem;
  text-align: center;
  margin: 0 auto; }
  .ah-icon-link img {
    width: 2.5rem;
    height: 2.5rem; }
  .ah-icon-link h4 {
    font-size: 0.75rem;
    margin: 0;
    padding: 0.5rem 0; }
  .ah-icon-link:hover {
    opacity: 1;
    text-decoration: none; }

/*
 * Timeline
 */
.timeline, .tagline, .tagindex, .about, .contact {
  text-align: center;
  margin: 0rem;
  border-top: 1px solid #e7e7e7; }
  .timeline h2, .tagline h2, .tagindex h2, .about h2, .contact h2 {
    font-size: 2.5rem; }
  .timeline ul, .tagline ul, .tagindex ul, .about ul, .contact ul {
    margin: 0;
    padding: 0; }
  .timeline .timeline-item, .timeline .tagline-item, .tagline .timeline-item, .tagline .tagline-item, .tagindex .timeline-item, .tagindex .tagline-item, .about .timeline-item, .about .tagline-item, .contact .timeline-item, .contact .tagline-item {
    list-style-type: none;
    margin-top: 0rem;
    border-bottom: 1px solid #e8e8e8;
    padding: 2rem 0; }
    .timeline .timeline-item h3, .timeline .tagline-item h3, .tagline .timeline-item h3, .tagline .tagline-item h3, .tagindex .timeline-item h3, .tagindex .tagline-item h3, .about .timeline-item h3, .about .tagline-item h3, .contact .timeline-item h3, .contact .tagline-item h3 {
      margin: 0.25rem 0 1rem; }
      .timeline .timeline-item h3 a, .timeline .tagline-item h3 a, .tagline .timeline-item h3 a, .tagline .tagline-item h3 a, .tagindex .timeline-item h3 a, .tagindex .tagline-item h3 a, .about .timeline-item h3 a, .about .tagline-item h3 a, .contact .timeline-item h3 a, .contact .tagline-item h3 a {
        color: #333333; }
    .timeline .timeline-item:last-child, .timeline .tagline-item:last-child, .tagline .timeline-item:last-child, .tagline .tagline-item:last-child, .tagindex .timeline-item:last-child, .tagindex .tagline-item:last-child, .about .timeline-item:last-child, .about .tagline-item:last-child, .contact .timeline-item:last-child, .contact .tagline-item:last-child {
      border-bottom: none; }
  .timeline .date, .tagline .date, .tagindex .date, .about .date, .contact .date {
    margin-top: 0;
    font-size: 1.25rem;
    color: #8c8c8c; }
  .timeline .tags, .tagline .tags, .tagindex .tags, .about .tags, .contact .tags {
    font-size: 0.75rem;
    color: #595959; }

.tagindex ul {
  padding: 2rem 0 2rem 1rem;
  text-align: left;
  border-top: none; }
  .tagindex ul li {
    list-style-type: none;
    padding: 0.5rem 0; }

.about h2, .contact h2 {
  margin-bottom: 2rem; }

.contact .form-container {
  margin: 1rem 0; }
.contact form {
  text-align: left; }
  .contact form input, .contact form textarea {
    width: 100%;
    margin-bottom: 1rem; }
  .contact form .submit {
    margin: 1rem 0; }
.contact .social-container {
  margin: 1rem; }
.contact .social-tile {
  margin: 1rem;
  box-sizing: border-box; }
  .contact .social-tile img {
    width: 5rem;
    margin: 0 auto;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    opacity: 0.25; }
  .contact .social-tile a {
    margin: 1rem 0;
    display: block;
    text-align: center;
    text-transform: uppercase; }

.article ul {
  margin: 1rem 0rem 2rem; }
.article li {
  padding: 0.25rem 0rem;
  line-height: 1.5rem;
  font-size: 1rem; }

/*
  h2 {
    margin: 0rem 0 0.5rem;
  }
*/
/*
 * Buttons
 */
.button {
  padding: 0.5rem;
  font-size: 0.8rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem; }
  .button.transparent {
    border: 1px solid #e7e7e7;
    color: #333333;
    background-color: #f4f4f4; }
    .button.transparent:hover {
      background-color: #737373;
      color: #f4f4f4;
      border-color: transparent;
      text-decoration: none; }

.button-holder {
  margin: 3rem auto 2rem;
  text-align: center; }
  .button-holder.two {
    width: auto;
    height: 3rem; }
    .button-holder.two .button:first-child {
      -webkit-border-radius: 0.25rem 0 0 0.25rem;
      -moz-border-radius: 0.25rem 0 0 0.25rem;
      -ms-border-radius: 0.25rem 0 0 0.25rem;
      -o-border-radius: 0.25rem 0 0 0.25rem;
      border-radius: 0.25rem 0 0 0.25rem;
      color: #73250b;
      background-color: #ef7f5a; }
      .button-holder.two .button:first-child:hover {
        color: #150702;
        background-color: #f19172; }
    .button-holder.two .button:last-child {
      -webkit-border-radius: 0 0.25rem 0.25rem 0;
      -moz-border-radius: 0 0.25rem 0.25rem 0;
      -ms-border-radius: 0 0.25rem 0.25rem 0;
      -o-border-radius: 0 0.25rem 0.25rem 0;
      border-radius: 0 0.25rem 0.25rem 0; }
  .button-holder .button {
    margin: 0;
    color: #8a2c0d;
    background-color: #ed6d43;
    border: 1px solid #e7e7e7;
    border-color: #ef7f5a;
    font-size: 1.5rem;
    width: 11rem;
    display: inline-block; }
    .button-holder .button:hover {
      color: #73250b;
      background-color: #f19172;
      text-decoration: none; }

/*
 * Helpers
 */
.centered-image {
  text-align: center; }

.embedded-video {
  margin: 2rem 0;
  text-align: center; }

.update, .note {
  padding: 1rem;
  margin: 1rem 5rem;
  -webkit-border-radius: 0.35rem 0.35rem;
  -moz-border-radius: 0.35rem / 0.35rem;
  border-radius: 0.35rem / 0.35rem;
  background-color: #ed6d43;
  color: #333333;
  font-size: 0.9rem;
  line-height: 1.25rem; }
  .update a, .note a {
    color: #333333;
    text-decoration: underline; }

.paging {
  margin: 0 auto;
  width: 95%; }

.ah-icon-link {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: 3rem; }
  .ah-icon-link.older, .ah-icon-link.newer {
    width: 11rem; }
  .ah-icon-link.archive {
    width: 7.2rem; }
  .ah-icon-link.center {
    margin: 0 auto;
    text-align: center; }
  .ah-icon-link.right {
    float: right; }
  .ah-icon-link .text {
    position: absolute;
    height: 3rem;
    width: 95%;
    line-height: 3rem;
    font-size: 1rem;
    color: #ed6d43;
    text-transform: uppercase; }
    .ah-icon-link .text:hover {
      color: #f19172; }
  .ah-icon-link .text-right {
    top: 0px;
    left: 2.5rem; }
  .ah-icon-link .text-left {
    top: 0px;
    right: 2.5rem;
    text-align: right; }
  .ah-icon-link .ah-icon {
    position: absolute;
    width: 2rem;
    height: 2rem; }
  .ah-icon-link .ah-icon-right {
    top: 0.5rem;
    right: 0px; }
  .ah-icon-link .ah-icon-left {
    top: 0.5rem;
    left: 0px; }

.copy {
  border-top: 1px solid #e7e7e7;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.75rem; }

@media (max-width: 640px) {
  .header {
    width: 100%;
    margin-top: 5rem;
    height: 240px; }
    .header .image {
      float: none;
      width: 100%; }
      .header .image .photo {
        width: 130px;
        margin: 0 auto 1rem; }
    .header h3.heading {
      text-align: center;
      font-size: 2rem; }
    .header p {
      text-align: center; }

  .container.detail-page nav.main-navi {
    display: none; }

  nav.main-navi {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    background-color: #e7e7e7;
    -webkit-box-shadow: 0px 0px 1px #333333;
    -moz-box-shadow: 0px 0px 1px #333333;
    box-shadow: 0px 0px 1px #333333; }
    nav.main-navi.shown {
      background-color: #424242; }
    nav.main-navi .navi-toggle {
      display: block;
      box-sizing: border-box;
      padding: 0.5rem;
      width: 4rem;
      height: 4rem;
      background-color: #262626;
      -webkit-box-shadow: 1px 0px 1px #333333;
      -moz-box-shadow: 1px 0px 1px #333333;
      box-shadow: 1px 0px 1px #333333; }
      nav.main-navi .navi-toggle img {
        width: 3rem; }
    nav.main-navi ul.nav-items {
      margin: 0 0 0 0;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      padding: 0;
      float: none;
      width: 100%;
      height: 17rem;
      background-color: #0d0d0d;
      -webkit-box-shadow: 0px 3px 3px #333333;
      -moz-box-shadow: 0px 3px 3px #333333;
      box-shadow: 0px 3px 3px #333333;
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.25s;
      -moz-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      transition-duration: 0.25s;
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
      nav.main-navi ul.nav-items.shown {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%); }
      nav.main-navi ul.nav-items li.nav-item {
        margin: 0;
        text-align: left;
        display: block;
        width: 100%; }
        nav.main-navi ul.nav-items li.nav-item a {
          border: none;
          display: block;
          font-size: 1rem;
          padding: 1.1rem 0rem 1.1rem;
          text-align: center;
          color: #ed6d43;
          background-color: #262626;
          -webkit-border-radius: 0 0;
          -moz-border-radius: 0 0;
          -ms-border-radius: 0 0;
          -o-border-radius: 0 0;
          border-radius: 0 0; }
          nav.main-navi ul.nav-items li.nav-item a:hover {
            text-decoration: none; }
    nav.main-navi .button {
      font-size: 0.7rem; }

  .content pre code {
    font-size: 0.8rem; } }
/**
 * adjustments for dark body
 */
body.dark {
  background-color: #262626; }
  body.dark .detail-nav {
    background-color: #1a1a1a; }
  body.dark article section {
    background-color: #262626; }
  body.dark .copy {
    border-top: none;
    color: #f4f4f4; }
