extends detail-base
mixin useFlash(fileName)
  style.
    html, body  { height:100%; }
    body {
      margin:0; padding:0; overflow:auto; text-align:left;
      background-color: #fafafa;
    }
    #flashContent { display:none;
    }
  script(type="text/javascript", src="swfobject.js").
  script(type="text/javascript", src="history/history.js").
  link(rel="stylesheet", type="text/css", href="history/history.css")
  script.
    var swfVersionStr = "10.0.0";
    <!-- To use express install, set to playerProductInstall.swf, otherwise the empty string. -->
    var xiSwfUrlStr = "playerProductInstall.swf";
    var flashvars = {};
    var params = {};
    params.quality = "high";
    params.bgcolor = "#fafafa";
    params.allowscriptaccess = "sameDomain";
    params.allowfullscreen = "true";
    var attributes = {};
    attributes.id = "#{ fileName }";
    attributes.name = "#{ fileName }";
    attributes.align = "middle";
    swfobject.embedSWF("#{ fileName }.swf", "flashContent", "100%", "100%", swfVersionStr, xiSwfUrlStr, flashvars, params, attributes);
    <!-- JavaScript enabled so display the flashContent div in case it is not replaced with a swf object. -->
    swfobject.createCSS("#flashContent", "display:block;text-align:left;");
block append head
 mixin useFlash(page.metadata.swf)
block content
  article.post
    section.content.flash!= page.html
