extends layout
block navigation
    mixin nav('INDEX')
block content
  include ../mixins/tag
  != page.html
  - var taglist = []
  - _.each(contents.articles._.directories, function(item) {
  -     if (item.index.metadata.tags && item.index.metadata.tags.length > 0) {
  -       _.each(item.index.metadata.tags.split(','), function(nesteditem, index) {
  -         taglist.push({key:nesteditem.trim(), url:item.index.url, obj:item.index, filename:item.index.filename, title:item.index.metadata.title, abstract:item.index.metadata.abstract})
  -      })
  -    }
  - })
  - var tagsGroupByKey = _.groupBy(taglist, 'key')
  - var sortedTagKeys = _.sortBy(_.keys(tagsGroupByKey), function(item, index) {
  -      return item.charCodeAt(0);
  -  });
  article
    section.content.tagindex
        h1 Index
        ul.tagindex
          - for (var k in sortedTagKeys)
            - var tagKey = sortedTagKeys[k];
              li.tag
                mixin tag(tagKey)
block paging
    span